<footer class="footer">
    <!-- Conteúdo do seu footer aqui -->
    <p>&copy; {{year}} GigaCandanga. Todos os direitos reservados.</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-8XHq4Qc1Jq2v9FyQKjZ8i1dJjO2S5hHv3rD5pe5h3Zy9Fm5zjZf2N9t9Zn1S9Vg" crossorigin="anonymous"></script>
</footer>