<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4 text-center">
                
                <a class="navbar-brand" href="/">
                    <div class="logo-nav-img">
                        <img src="/images/logo-giga.png" class="card-img-top" alt="GigaCandanga">
                    </div>
                </a>
                <ul class="list-unstyled quick-links text-center">
                    <li>
                        <p>Edifício CEFTRU, Bloco B, Sala BT 07/20</p>
                    </li>
                    <li>
                        <p>Campus Darcy Ribeiro – Universidade de Brasília</p>
                    </li>
                    <li>
                        <p>Asa Norte, Brasília – DF</p>
                    </li>
                    <li>
                        <p>CEP: 70910-900</p>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 m-md-auto">
                <h5>Acesso Rápido</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fas fa-chevron-right"></i>Home</a></li>
                    <li><a href="/sobre"><i class="fas fa-chevron-right"></i>Sobre</a></li>
                    <li><a href="/faq"><i class="fas fa-chevron-right"></i>FAQ</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 mb-md-auto">
                <h5>Contato</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="tel:+55 61 3340 6543">Telefone: +55 61 3340 6543</a></li>
                    <li><a href="mailto:contatos@gigacandanga.net.br">contatos@gigacandanga.net.br</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a target="_blank"
                            href="https://www.youtube.com/results?search_query=gigacandanga"><i class="fab fa-youtube"></i></a></li>
                    <li class="list-inline-item"><a target="_blank"
                            href="https://www.instagram.com/gigacandanga/?igshid=1uepzu5is33gy"><i class="fab fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="mailto:contatos@gigacandanga.net.br" target="_blank"><i class="far fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p class="h6">&copy; All right Reversed.<a class="text-green ml-2" href="https://gigacandanga.net.br/"
                        target="_blank">GigaCandanga 2024</a></p>
            </div>
        </div>
    </div>
</section>