{{!-- Body --}}
<div class="container mt-4">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>My Login Project</h1>
        <p>This project demonstrates how to implement login and register functionalities with Node.js and MySQL </p>
    </div>
</div>