{{!-- Sobre --}}
<div class="container mt-4">
    <div class="mt-4 p-5">
        <h1 class="mb-4"> 
            Sobre
        </h1>
        <p>Este sistema foi projetado para que os usuários da rede GigaCandanga possam alterar sua senha de acesso à rede e demais serviços internos. O sistema foi desenvolvido pela equipe de desenvolvimento da GigaCandanga, com o objetivo de facilitar o acesso dos usuários aos serviços oferecidos pela rede.</p>
    </div>
</div>